<!-- Place footer outside ion-app -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="">Home</ion-button>
      <ion-button routerLink="/all-doctors">All Doctors</ion-button>
      <ion-button routerLink="/add-doctor">Add New Doctor</ion-button>
      <ion-button routerLink="/add-visit">Add Visit Rate</ion-button>
      <ion-button routerLink="/login">Login</ion-button>
      <ion-button routerLink="/signup">signup</ion-button>
      <ion-button routerLink="/login">Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
