<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-md="6">
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Add New Doctor</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Name En<span class="text-danger">*</span></ion-label>
                <ion-input formControlName="name_en" placeholder="name_en"></ion-input>
              </ion-item>
              <ion-item *ngIf="name_en?.valid && (name_en?.touched || name_en?.dirty)" lines="none" class="ion-text-success">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>Looks good!</ion-label>
              </ion-item>
              <ion-item *ngIf="name_en?.errors?.['required'] && (name_en?.dirty || name_en?.touched)" lines="none" class="ion-text-danger">
                <ion-icon name="alert-circle"></ion-icon>
                <ion-label>Name_en? is important.</ion-label>
              </ion-item>
              <ion-item *ngIf="name_en?.errors?.['pattern'] && (name_en?.dirty || name_en?.touched)" lines="none" class="ion-text-danger">
                <ion-icon name="alert-circle"></ion-icon>
                <ion-label>Name_en is invalid.</ion-label>
              </ion-item>

              <!-- Other form inputs -->
            </ion-card-content>
          </ion-card>
          <ion-button type="submit" expand="block" [disabled]="loginForm.invalid" class="ion-margin-top">Submit</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
