<div class="container">
  <div *ngIf="Details">
    <h2 class="text-center mb-4">Doctor Details</h2>

    <div class="container mt-4 mb-4">
      <button class="btn btn-danger w-100" >Delete Doctor</button>
    </div>
    

    <!-- Doctor Details Card -->
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Doctor ID: {{ Details.id }}</h5>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>Name :</strong> {{ Details.name_en }} -
              {{ Details.name_ar }}
            </p>
            <p>
              <strong>Governorate :</strong> {{ Details.gov_id.name_en }} -
              {{ Details.gov_id.name_ar }}
            </p>
            <p><strong>Class:</strong> {{ Details.class }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- User Details Cards -->
    <div class="row">
      <div class="col-md-6" *ngFor="let user of Details.user_id">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">USER ID: {{ user.id }}</h5>
            <p>
              <strong>Name :</strong> {{ user.name_en }} - {{ user.name_ar }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Visit Rate Cards -->
    <div class="row">
      <div class="col-md-6" *ngFor="let rate of Details.visit_rates">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">VISIT RATE ID: {{ rate.id }}</h5>
            <p>
              <strong>Visit Rate For This Month :</strong>
              {{ rate.visit_rate_min }}
            </p>
            <p><strong>Date :</strong> {{ rate.month }}/{{ rate.year }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Visit Details Cards -->
    <div class="row">
      <div class="col-md-6" *ngFor="let visit of Details.visiting">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">VISIT ID: {{ visit.id }}</h5>
            <p><strong>Visit Date :</strong> {{ visit.visit_date }}</p>
            <p><strong>Visit latitude :</strong> {{ visit.latitude }}</p>
            <p><strong>Visit longitude :</strong> {{ visit.longitude }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
