<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">All Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Filter and search bar row -->
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="stacked">Filter :</ion-label>
          <ion-select (ionChange)="filterCategory($event)" [(ngModel)]="selectedCategoryId">
            <ion-select-option value="all" selected>ِAll</ion-select-option>
            <ion-select-option value="{{ option.doctor_id }}" *ngFor="let option of doctors">
              {{ option.doctor.name_ar }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterDoctors()" placeholder="Search"></ion-searchbar>
      </ion-col>
    </ion-row>

    <!-- Doctor cards row -->
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let doctor of filteredDoctors">
        <ion-card class="ion-margin-top card-wrapper">
          <ion-card-content [routerLink]="'/doctor-details/'+ doctor.doctor.id">
            <p class="ion-text-center">ID: {{ doctor.doctor.id }}</p>
            <h5 class="ion-text-center">{{ doctor.doctor.name_ar }}</h5>
            <h5 class="ion-text-center">{{ doctor.doctor.name_en }}</h5>
            <p class="ion-text-center">Governorate: {{ doctor.doctor.gov_name_en }}</p>
            <p class="ion-text-center">Class: {{ doctor.doctor.class }}</p>

            <!-- Last visit rate -->
            <p class="ion-text-center" *ngIf="doctor.doctor.visit_rates.length > 0">
              Last Visit Rate: {{ getNewestVisitRate(doctor.doctor.visit_rates).visit_rate_min }}
            </p>

            <!-- No visit rates message -->
            <ng-container *ngIf="doctor.doctor.visit_rates.length === 0">
              <p class="ion-text-center">No visit rates available.</p>
            </ng-container>
          </ion-card-content>
          <app-add-visit [doctorId]="doctor.doctor.id"></app-add-visit>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
