<div class="container my-5 d-flex justify-content-center align-items-center">
  <div class="container">
    <div
      class="container alert alert-warning text-center"
      *ngIf="error"
      role="alert"
    >
      {{ error }}
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 shadow-lg">
        <form
          class="bg-white py-5"
          [formGroup]="loginForm"
          (ngSubmit)="loginSubmitted()"
        >
          <div class="text-center p-2 mb-3 bg-light">
            <h3 class="pt-2">Add Visit Rate To the Doctor</h3>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="visit_rate_min" class="form-label"
                >Visit Rate<span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="visit_rate_min"
                formControlName="visit_rate_min"
                placeholder="visit_rate_min"
              />
              <div
                class="form-text text-success"
                *ngIf="
                  visit_rate_min.valid &&
                  (visit_rate_min.touched || visit_rate_min.dirty)
                "
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="visit_rate_min.errors?.['required'] && (visit_rate_min.dirty || visit_rate_min.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>visit_rate_min is
                important.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="visit_rate_min.errors?.['pattern'] && (visit_rate_min.dirty || visit_rate_min.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>visit_rate_min is
                invalid
              </div>
            </div>

            <div class="col-md-6">
              <label for="doctor_id" class="form-label"
                >doctor Name<span class="text-danger">*</span></label
              >

              <select
                class="form-control"
                id="doctor_id"
                formControlName="doctor_id"
              >
                <option selected value="" disabled>Add Your doctor</option>
                <option
                  value="{{ allDoctors.doctor.id }}"
                  *ngFor="let allDoctors of allDoctors"
                >
                  {{ allDoctors.doctor.name_ar }}
                </option>
              </select>
              <div
                class="form-text text-success"
                *ngIf="
                  doctor_id.valid && (doctor_id.touched || doctor_id.dirty)
                "
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="doctor_id.errors?.['required'] && (doctor_id.dirty || doctor_id.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>
                Add your Doctor
              </div>
            </div>

            <div class="col-md-6">
              <label for="month" class="form-label"
                >Month<span class="text-danger">*</span></label
              >
              <select class="form-control" id="month" formControlName="month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <div
                class="form-text text-success"
                *ngIf="month.valid && (month.touched || month.dirty)"
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="month.errors?.['required'] && (month.dirty || month.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>
                Add Your Month
              </div>
            </div>

            <div class="col-md-6">
              <label for="year" class="form-label"
                >Year<span class="text-danger">*</span></label
              >
              <select class="form-control" id="year" formControlName="year">
                <ng-container *ngFor="let year of getYearRange()">
                  <option [value]="year">{{ year }}</option>
                </ng-container>
              </select>
              <div
                class="form-text text-success"
                *ngIf="year.valid && (year.touched || year.dirty)"
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="year.errors?.['required'] && (year.dirty || year.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>
                Add Your year
              </div>
            </div>

            <div class="d-grid mb-3">
              <button
                type="submit"
                [disabled]="loginForm.invalid"
                class="btn btn-primary mt-3"
              >
                Submit
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-box-arrow-in-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
