<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Riman San </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="test()">
    <ion-icon slot="end" name="aperture-outline"></ion-icon>
    Block</ion-button
  >
  <ion-button (click)="test()">
    <ion-icon slot="icon-only" name="aperture-outline"></ion-icon
  ></ion-button>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
<ion-fab-button>
  <ion-icon name="add"></ion-icon>
</ion-fab-button>

<ion-fab-list side="start">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab-list>
<ion-fab-list side="top">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab-list>

<ion-fab-list side="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab-list>

</ion-fab>



  <ion-card class="custom-card">
    <ion-card-title class="custom-card-title">Total Doctors</ion-card-title>
    <ion-card-content class="custom-card-content">50</ion-card-content>
  </ion-card>
  

  <ion-card class="custom-card">
    <ion-card-title class="custom-card-title">Doctors Visited Today</ion-card-title>
    <ion-card-content class="custom-card-content">5</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

</ion-content>
