<div class="container my-5 d-flex justify-content-center align-items-center">
  <div class="container">
    <div
      class="container alert alert-warning text-center"
      *ngIf="error"
      role="alert"
    >
      {{ error }}
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 shadow-lg">
        <form
          class="bg-white py-5"
          [formGroup]="loginForm"
          (ngSubmit)="loginSubmitted()"
        >
          <div class="text-center p-2 mb-3 bg-light">
            <h3 class="pt-2">My Profile</h3>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control mb-2"
                id="email"
                formControlName="email"
                placeholder="email"
              />
              <div
                class="form-text text-success"
                *ngIf="email.valid && (email.touched || email.dirty)"
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="email.errors?.['required'] && (email.dirty || email.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>email is
                important.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="email.errors?.['pattern'] && (email.dirty || email.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>email is invalid
              </div>
            </div>

            <div class="col-md-6">
              <input
                type="password"
                class="form-control mb-2"
                id="password"
                formControlName="password"
                placeholder="password"
              />
              <div
                class="form-text text-success"
                *ngIf="password.valid && (password.touched || password.dirty)"
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="password.errors?.['required'] && (password.dirty || password.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>password is
                important.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="password.errors?.['pattern'] && (password.dirty || password.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>password is
                invalid
              </div>
            </div>



            <div class="col-md-6">
              <input
                type="text"
                class="form-control mb-2"
                id="name_en"
                formControlName="name_en"
                placeholder="name_en"
              />
              <div
                class="form-text text-success"
                *ngIf="name_en.valid && (name_en.touched || name_en.dirty)"
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="name_en.errors?.['required'] && (name_en.dirty || name_en.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>name_en is
                important.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="name_en.errors?.['pattern'] && (name_en.dirty || name_en.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>name_en is invalid
              </div>
            </div>

            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="name_ar"
                formControlName="name_ar"
                placeholder="name_ar"
              />
              <div
                class="form-text text-success"
                *ngIf="name_ar.valid && (name_ar.touched || name_ar.dirty)"
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="name_ar.errors?.['required'] && (name_ar.dirty || name_ar.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>name_ar is
                important.
              </div>
              <div
                class="form-text text-danger"
                *ngIf="name_ar.errors?.['pattern'] && (name_ar.dirty || name_ar.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>name_ar is invalid
              </div>
            </div>

            <div class="col">
              <select
                class="form-control"
                id="governorate_id"
                formControlName="gov_id"
              >
                <option selected value="" disabled>Enter Your Governate</option>
                <option
                  value="{{ governorate.id }}"
                  *ngFor="let governorate of governorates"
                >
                  {{ governorate.name_en }}
                </option>
              </select>
              <div
                class="form-text text-success"
                *ngIf="gov_id.valid && (gov_id.touched || gov_id.dirty)"
              >
                <i class="fa-solid fa-check"></i>looks good!
              </div>
              <div
                class="form-text text-danger"
                *ngIf="gov_id.errors?.['required'] && (gov_id.dirty || gov_id.touched)"
              >
                <i class="fa-solid fa-circle-exclamation"></i>
                insert your Governate
              </div>
            </div>

            <div class="d-grid mb-3">
              <button
                type="submit"
                [disabled]="loginForm.invalid"
                class="btn btn-primary mt-3"
              >
                Update Your Profile
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-box-arrow-in-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
