<div class="container">
  <h2 class="text-center">All users</h2>

  <div class="w-25">
    <label for="">Filter :</label>
    <select
      class="form-control"
      [(ngModel)]="selectedCategoryId"
      (change)="filterCategory($event)"
    >
      <option value="all" selected>ِAll</option>
      <option class="rtl" value="{{ option.id }}" *ngFor="let option of users">
        {{ option.name_ar }}
      </option>
    </select>
  </div>
  <div class="row">
    <div
      class="col-sm-6 col-md-4 col-lg-3"
      *ngFor="let user of filteredusers; let i = index"
    >
      <div class="card-wrapper mt-3">
        <div class="card bg-dark">
          <div class="card-body text-light" [routerLink]="'/users/' + user.id">
            <p class="card-title">Index: {{ i + 1 }}</p>
            <p class="card-title">ID: {{ user.id }}</p>
            <h5 class="card-text">{{ user.name_ar }}</h5>
            <h5 class="card-text">{{ user.name_en }}</h5>
            <p class="card-text">Governate: {{ user.gov_id.name_en }}</p>
            <p class="card-text">Class: {{ user.class }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
