<div class="container mt-4">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Total Doctors</h5>
          <p class="card-text">{{ totalDoctorsCount }}</p>
        </div>
      </div>     
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Doctors Visited Today</h5>
          <p class="card-text">{{ doctorsVisitedToday }}</p>
        </div>
      </div>


      <div class="card mb-4">

        <div class="card-body">
          <h5 class="card-title">Days Off (No Visits) Last 3 Months</h5>


          <table class="table table-striped">
      
            <thead>
              <tr>
                <th>Date</th>
                <th>Number of Visits</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let visit of noVisitsByDay">
                <tr>
                  <td>{{ visit.date }}</td>
                  <td>{{ visit.numberOfVisits }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>

        </div>
      </div>
    

    
    

  </div>







    <!-- Main Content -->
    <div class="col-lg-8">
      <!-- Visited Doctor every Month Last 3 Months -->
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Visited Doctor every Month Last 5 Months</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Number of Visits</th>
                  <th>Percentage of Visit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visit of visitsByMonthArray">
                  <td>{{ visit.key }}</td>
                  <td>{{ visit.value }}</td>
                  <td>{{ ((visit.value / totalDoctorsCount) * 100).toFixed(2) }}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <!-- All Visited Doctors Last 3 Months -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">All Visited Doctors Last 5 Months</h5>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Month</th>
                  <th>Number of Visits</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let visit of visitsByMonthArrayThreeMonths">
                  <tr>
                    <td>{{ visit.month }}</td>
                    <td>{{ visit.numberOfVisits }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <!-- Visited Doctors by Day Last 3 Months -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Visited Doctors by Day Last 3 Months</h5>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Number of Visits</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let visit of visitsByDay">
                  <tr>
                    <td>{{ visit.date }}</td>
                    <td>{{ visit.numberOfVisits }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
