<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Total Doctors</h5>
          <p class="card-text">{{ totalDoctorsCount }}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">days on and off</h5>
          <p class="card-text">2024-02-08</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Visited Doctors every Month</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Number of Visits</th>
                  <th>Percentage of Visit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visit of visitsByMonthArray">
                  <td>{{ visit.key }}</td>
                  <td>{{ visit.value }}</td>
                  <td>
                    {{ ((visit.value / totalDoctorsCount) * 100).toFixed(2) }}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
