<div class="container mt-4">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-4">
      <!-- Total Doctors -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Total Doctors</h5>
          <p class="card-text">{{ totalDoctorsCount }}</p>
        </div>
      </div>

      <!-- Doctors Visited -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Doctors Visited</h5>
          <div class="form-group">
            <label for="visitDate">Select Date:</label>
            <input
              id="visitDate"
              class="form-control"
              type="date"
              [(ngModel)]="selectedDate"
              (change)="onDateChange()"
            />
          </div>
          <h3>Visits for {{ selectedDate }}</h3>
          <div *ngIf="doctorVisitsInSelectedDate > 0; else off">
            <p class="text-success">
              Total Visits: {{ doctorVisitsInSelectedDate }}
            </p>
            <p class="text-success">Doctor Visits:</p>
            <div class="card">
              <ul class="list-group list-group-flush">
                <ng-container
                  *ngFor="let visitData of nameOfDoctorVisitsInSelectedDate"
                >
                  <ng-container *ngFor="let doctor of visitData; let i = index">
                    <li class="list-group-item">
                      <div class="card bg-dark">
                        <a
                          class="text-warning"
                          [routerLink]="['/doctors', doctor.doctor_id]"
                        >
                          <span class="text-warning"> {{ i + 1 }}- </span
                          >{{ doctor.doctor_name_ar }}
                        </a>
                      </div>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </div>
          <ng-template #off>
            <p class="text-danger">No visits for this date.</p>
          </ng-template>
        </div>
      </div>

      <!-- Average Visits per Doctor and per Day -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="form-group">
            <label for="selectedMonth">Select Month:</label>
            <input
              id="selectedMonth"
              class="form-control ion-padding"
              type="month"
              [(ngModel)]="selectedMonthPerDay"
              (change)="onMonthChangePerDay()"
              placeholder="Select Month"
              style="
                border-radius: 10px;
                border: 2px solid #ccc;
                background-color: #f9f9f9;
                padding: 10px;
              "
            />
          </div>
          <div *ngIf="averageVisitsPerDay">
            <p>Average visits per day: {{ averageVisitsPerDay.toFixed(2) }}</p>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Main Content -->
    <div class="col-lg-8">
      <!-- Visited Doctor every Month -->
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Visited Doctor every Month</h4>
          <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input
              id="startDate"
              class="form-control"
              type="date"
              [(ngModel)]="startDate"
              (change)="onMonthChange()"
            />
          </div>

          <div class="form-group">
            <label for="endDate">End Date:</label>
            <input
              id="endDate"
              class="form-control"
              type="date"
              [(ngModel)]="endDate"
              (change)="onMonthChange()"
            />
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Index</th>
                  <th>Date</th>
                  <th>Number of Visits</th>
                  <th>Percentage of Visit</th>
                  <th>Number of Visited All Doctors</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visit of visitsByMonthArray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ visit.key }}</td>
                  <td>{{ visit.uniqueDoctors }}</td>
                  <td>
                    {{
                      ((visit.uniqueDoctors / totalDoctorsCount) * 100).toFixed(
                        2
                      )
                    }}%
                  </td>
                  <td>{{ visit.numberOfVisits }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card mb-4 col-6">
          <div class="card-body">
            <h5 class="card-title mb-6">Visited Doctors by Day</h5>
            <div class="form-group">
              <label for="selectedMonth">Select Month:</label>
              <input
                id="selectedMonth"
                class="form-control ion-padding"
                type="month"
                [(ngModel)]="selectedMonth"
                (change)="onMonthChangeeeeeee()"
                placeholder="Select Month"
                style="
                  border-radius: 10px;
                  border: 2px solid #ccc;
                  background-color: #f9f9f9;
                  padding: 10px;
                "
              />
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Index</th>
                    <th>Date</th>
                    <th>Number of Visits</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let visit of visitsByDay; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td>{{ visit.date }}</td>
                      <td>{{ visit.numberOfVisits }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card mb-4 col-6">
          <div class="card-body">
            <h5 class="card-title mb-4">Days Off (No Visits)</h5>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Index</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let visit of noVisitsByDay; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td>{{ visit.day }}, {{ visit.date }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
