<div class="container mt-4">
  <button class="btn btn-danger w-100 mb-4" (click)="deleteUser()">
    Delete User
  </button>

  <div class="container mt-4">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-4">
        <!-- Total Doctors -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Total Doctors</h5>
            <p class="card-text">
              {{ totalDoctors?.length }}
            </p>
          </div>
        </div>

        <!-- Doctors Visited -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Doctors Visited</h5>
            <div class="form-group">
              <label for="visitDate">Select Date:</label>
              <input
                id="visitDate"
                class="form-control"
                type="date"
                (change)="doctorVisitedForOneDay($event)"
              />
            </div>
            <h3>Visits for selected Date: {{ date }}</h3>
            <div *ngIf="doctorVisited?.data.length > 0; else off">
              <p class="text-success">
                Total Visits: {{ doctorVisited?.data.length }}
              </p>
              <p class="text-success">Doctor Visits:</p>
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item pointer"
                    *ngFor="let doctor of doctorVisited.data"
                    [routerLink]="'/doctors/' + doctor.doctor_id.id"
                  >
                    <div class="card bg-dark">
                      <a class="text-warning">
                        {{ doctor.doctor_id.name_en }}-{{
                          doctor.doctor_id.name_ar
                        }}
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <ng-template #off>
              <p class="text-danger">No visits for this date.</p>
            </ng-template>
          </div>
        </div>
      </div>

      <!-- Main Content -->
      <div class="col-lg-8">
        <!-- Visited Doctor every Month -->
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Visited Doctor this Month</h4>
            <div class="form-group">
              <label for="selectedMonth">Select Month:</label>
              <input
                id="selectedMonth"
                class="form-control"
                type="date"
                (change)="visitedDoctorForMonth($event)"
              />
            </div>

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Total Visited</th>
                    <th>Number of Visits</th>
                    <th>Percentage of Visit</th>
                    <th>Average visits per day</th>
                  </tr>
                </thead>
                <tbody>
                  <td>{{ visit?.total_visited_this_month }}</td>
                  <td>{{ visit?.total_doctors_visited_this_month }}</td>
                  <td>Percentage of Visit %</td>
                  <td>{{ visit?.average_visits_per_date }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card mb-4 col-6">
            <div class="card-body">
              <h5 class="card-title mb-6">Visited Doctors by Day</h5>
              <div class="form-group">
                <label for="selectedMonth">Select Month:</label>
                <input
                  id="selectedMonth"
                  class="form-control ion-padding"
                  type="month"
                  placeholder="Select Month"
                  style="
                    border-radius: 10px;
                    border: 2px solid #ccc;
                    background-color: #f9f9f9;
                    padding: 10px;
                  "
                />
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Index</th>
                      <th>Date</th>
                      <th>Number of Visits</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container>
                      <tr>
                        <td>i + 1</td>
                        <td>visit.date</td>
                        <td>visit.numberOfVisits</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card mb-4 col-6">
            <div class="card-body">
              <h5 class="card-title mb-4">Days Off (No Visits)</h5>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Index</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container>
                      <tr>
                        <td>i + 1</td>
                        <td>visit.day , visit.date</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- User Table -->
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Joined At</th>
            <th>Class</th>
            <th>Visit Rate</th>
            <th>Total Visits In the Month</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of totalDoctors; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.id }}</td>
            <td class="pointer" [routerLink]="'/doctors/' + user.id">
              {{ user.name_en }} - {{ user.name_ar }}
            </td>
            <td>{{ user.created_at }}</td>
            <td>{{ user.class }}</td>
            <td>
              <!-- Visit Rates -->
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Visit Rate Min</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doctor of user.doctor.visit_rates">
                    <td>{{ doctor.id }}</td>
                    <td>{{ doctor.month }}</td>
                    <td>{{ doctor.year }}</td>
                    <td>{{ doctor.visit_rate_min }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <!-- Visiting Details -->
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Visit Date</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let doctor of user.doctor.visiting">
                    <td>{{ doctor.id }}</td>
                    <td>{{ doctor.visit_date }}</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>Total</th>
                    <td>22</td>
                  </tr>
                </thead>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
