<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Riman San</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home" color="medium">
  <ion-grid class="margin">
    <ion-row>
      <!-- Sidebar -->
      <ion-col size="12" size-lg="4">
        <!-- Total Doctors -->
        <ion-card class="ion-margin-bottom">
          <ion-card-content>
            <ion-card-title>Total Doctors</ion-card-title>
            <ion-text>{{ totalDoctorsCount }}</ion-text>
          </ion-card-content>
        </ion-card>

        <!-- Doctors Visited -->
        <ion-card class="ion-margin-bottom">
          <ion-card-content>
            <ion-card-title>Doctors Visited</ion-card-title>
            <ion-item>
              <ion-label position="floating">Select Date</ion-label>
              <ion-input
                type="date"
                [(ngModel)]="selectedDate"
                (ionChange)="onDateChange()"
              ></ion-input>
            </ion-item>
            <ion-text
              *ngIf="doctorVisitsInSelectedDate > 0; else noVisits"
              class="ion-text-success"
            >
              Total Visits: {{ doctorVisitsInSelectedDate }}
              <p class="text-success">Doctor Visits:</p>
            </ion-text>

            <ion-list lines="full">
              <ng-container
                *ngFor="let visitData of nameOfDoctorVisitsInSelectedDate"
              >
                <ng-container *ngFor="let doctor of visitData; let i = index">
                  <ion-item>
                    <ion-label>
                      <span>{{ i + 1 }}-</span>{{ doctor.doctor_name_ar }}
                    </ion-label>
                    <ion-button
                      fill="clear"
                      slot="end"
                      [routerLink]="'/doctor-details/'+ doctor.doctor_id"
                    >
                      View Details
                    </ion-button>
                  </ion-item>
                </ng-container>
              </ng-container>
            </ion-list>

            <ng-template #noVisits>
              <ion-text color="danger">No visits for this date.</ion-text>
            </ng-template>
          </ion-card-content>
        </ion-card>

        <!-- Average Visits per Doctor and per Day -->
        <ion-card>
              <ion-item>
                <ion-label position="floating">Select Month:</ion-label>
                <ion-input
                  id="selectedMonth"
                  type="month"
                  [(ngModel)]="selectedMonthPerDay"
                  (ionChange)="onMonthChangePerDay()"
                  style="
                    border-radius: 10px;
                    border: 2px solid #ccc;
                    background-color: #f9f9f9;
                    padding: 10px;
                  "
                ></ion-input>
              </ion-item>
              <div *ngIf="averageVisitsPerDay">
                <p>
                  Average visits per day: {{ averageVisitsPerDay.toFixed(2) }}
                </p>
              </div>
        </ion-card>
      </ion-col>

      <!-- Main Content -->
      <ion-col size="12" size-lg="8">
        <!-- Visited Doctor every Month -->
        <ion-card class="ion-margin-bottom">
          <ion-card-content>
            <ion-card-title>Visited Doctor every Month</ion-card-title>
            <ion-item>
              <ion-label position="">Start Date</ion-label>
              <ion-input
                type="date"
                [(ngModel)]="startDate"
                (ionChange)="onMonthChange()"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="">End Date</ion-label>
              <ion-input
                type="date"
                [(ngModel)]="endDate"
                (ionChange)="onMonthChange()"
              ></ion-input>
            </ion-item>
            <ion-list>
              <ion-item>
                <ion-label>Index</ion-label>
                <ion-label>Date</ion-label>
                <ion-label>Number of Visits</ion-label>
                <ion-label>Percentage of Visit</ion-label>
                <ion-label>Number of Visited All Doctors</ion-label>
              </ion-item>
            </ion-list>

            <ion-list>
              <ion-item *ngFor="let visit of visitsByMonthArray; let i = index">
                <ion-label>{{ i+1 }}</ion-label>
                <ion-label>{{ visit.key }}</ion-label>
                <ion-label>{{ visit.uniqueDoctors }}</ion-label>
                <ion-label
                  >{{ ((visit.uniqueDoctors / totalDoctorsCount) *
                  100).toFixed(2) }}%</ion-label
                >
                <ion-label>{{ visit.numberOfVisits }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-row>
          <ion-col size="12" size-md="6">
            <!-- Visited Doctors by Day -->
            <ion-card class="ion-margin-bottom">
              <ion-card-content>
                <ion-card-title>Visited Doctors by Day</ion-card-title>
                <ion-item>
                  <ion-label position="floating">Select Month</ion-label>
                  <ion-input
                    type="month"
                    [(ngModel)]="selectedMonth"
                    (ionChange)="onMonthChangeeeeeee()"
                  ></ion-input>
                </ion-item>
                <ion-list>
                  <ion-item *ngFor="let visit of visitsByDay; let i = index">
                    <ion-label>{{ i+1}}</ion-label>
                    <ion-label>{{ visit.date }}</ion-label>
                    <ion-label>{{ visit.numberOfVisits }}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="6">
            <!-- Days Off (No Visits) -->
            <ion-card class="ion-margin-bottom">
              <ion-card-content>
                <ion-card-title>Days Off (No Visits)</ion-card-title>
                <ion-list>
                  <ion-item *ngFor="let visit of noVisitsByDay; let i = index">
                    <ion-label>{{i+1}}</ion-label>
                    <ion-label> {{ visit.day }}</ion-label>
                    <ion-label> {{ visit.date }}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
